/*Home Page*/
html, body {
	margin:0;
	padding:0;
}


.header {
	top:0;
	left:0;
	width:100%;
	position:absolute;
}
.nav {
	text-align:center;
	margin-left:10px;
}

.nav ul {
	color:black;
	list-style-type: none;
	text-align:center;
}

.nav li {
	display:inline;
	float:right;
	text-transform:uppercase;
	padding-right:15px;
	font-family: 'Raleway', sans-serif;;
}

.nav a:-webkit-any-link{
	color: white;
    cursor: pointer;
    text-decoration:none;
}

.nav a:hover {
	color: pink;
}

.nav a:linked{
	color:white;
}

#searchengine {
	float:right;
	margin-left:30px;
	position:absolute;
}

#searchbar {
	background-color:transparent;
	color: white;
    resize: none;
    border-bottom-style:solid white;
    border-top:none;
    border-left: none;
    border-right:none;
    outline:none;
}

#submit {
	width:30px;
	height:10px;
}

.container {
	background:url('/images/fashionw.jpg')center center fixed;
	background-size:cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	height:900px;
	width:100%;
}

.containercontent {
	color:white;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	padding-top:300px;
	text-transform: uppercase
    
}

.containercontent h1 {
	text-shadow: 1.3px 1.3px black;
	font-size:50px;
}	

.btn-1 {
  font-weight: 100;
  margin-right:60px;
  margin-left:40px;
  color:white;
  background-color:none;

}


.btn-1 svg {
  height: 50px;
  position: absolute;		
  width:120px;
}

.btn-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 4;
  stroke-dasharray: 422, 0;

}

#button1 {
	text-decoration: none;
	padding-left:10px;
}

#button2 {
	text-decoration: none;
}

.btn-1:hover {
  font-weight: 900;
  letter-spacing: 1px;
}

.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 100;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.footer h1 {
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin-top:50px;

}
.footer li {
	display:inline;
	padding-left:40px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}

.footer ul {
	text-decoration: none;
	margin-top:100px;
	margin-left:450px;
}

.footer a:-webkit-any-link{
	color: black;
    cursor: pointer;
    text-decoration:none;
}

.footer a:hover {
	color:#4286f4;
}

.footer a:linked{
	color:black;
}

.footer #two {
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	margin-top:100px;
	font-size:10px;
}


.footer #one {
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	margin-top:100px;
	font-size:40px;

}

/* LOGIN */

#loginheader {

}

#login {
	text-align:center;
}

/*Contact*/

#contactbody {
	background-color:#FFFAF0
}

#contactpageimg {
	background:url('/images/suits.jpeg')center center;
	background-size:cover;
	height:300px	;
	width:100%;
	top:0;
	left:0;
}

#content {
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	color:white;
	padding-left:30px;
	padding-top:45px;
	font-size:40px;
	text-shadow: 1.3px 1.3px black;
}


.contacttitles {
	text-align:center;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	color:black;
	margin-top:50px;
}

#para {
	font-size:15px;
}

.customerservice {
	margin-left:400px;
}

#openinghours {
	font-size:10px;
}


#allcontacts {
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	margin-top:100px;
}

#othercontact {
	margin-top:100px;
	margin-left:400px;
}

#contactnumber {
	cursor:pointer;
}

#plus {
	margin-left:410px;
}

#details {
	display:none;
}

#hr {
	margin-right:350px;
	margin-left:390px;
}

#contactaddress {
	cursor:pointer;
}

#address {
	display:none;
}

#plus1 {
	margin-left:450px;
}


#contactemail {
	cursor:pointer;
}

#emailform {
	display:none;
	font-family: 'Raleway', sans-serif;
}

#plus2 {
	margin-left:668px;
}

#hrcontact {
	margin-top:100px;
}

#input {
	margin-left:54px;
}
#input1 {
	margin-left:30px;
}

#input2 {
	margin-left:12px;
}

#textspace {
	width:740px;
	height:160px;
	font-family: 'Raleway', sans-serif;
	resize:none;
}

#inputpw {
	margin-left:10px;
}

#submit {

}

/* Profile*/

.nav1 {
	margin-left:10px;
}

.nav1 ul {
	color:black;
	list-style-type: none;
}

.nav1 li {
	display:inline;
	float:right;
	text-transform:uppercase;
	padding-right:15px;
	font-family: 'Raleway', sans-serif;;
}

.nav1 a:-webkit-any-link{
	color: black;
    cursor: pointer;
    text-decoration:none;
}

.nav1 a:hover {
	color: pink;
}

.nav1 a:linked{
	color:black;
}

.nav1 #top {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color:black;
	float:left;
	font-weight:bold;
	font-size:40px;
}

#profilecontent {
/*	width:500px;*/
	overflow:hidden;
	margin-top:100px;
	padding-left:50px;
}

#sidebar {
	width:300px;
	font-family: 'Raleway', sans-serif;
	float:left;	

}

#mainbar {
	margin-left:200px; /* Width of the content */
	font-family: 'Raleway', sans-serif;
}

#mainbar h2 {
	color:white;
	background-color:black;
}


#searchengine {
	float:right;
	margin-left:15px;
	position:absolute;
	margin-top:40px;
}

#searchbar1 {
	background-color:transparent;
	color: black;
    resize: none;
    border-bottom-style:solid black;
    border-top:none;
    border-left: none;
    border-right:none;
    outline:none;
    font-size:20px;
}






