doctype
html
	head
		title Ucci Collection
		link(rel="stylesheet" href="main.css" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
	body
		div.header
			div.navlogin
				ul 
					li 
						a(href="/contact") Contact
					li 
						a(href="/login") Login
					li 

						a(href="/") Home
		h1 Ucci Collection

