doctype
html
	head
	body
		form(action="/email" method="post" name="form")
			label To: 
			input(name="to" type="text", placeholder="example@gmail.com")
			label From: 
			input(name="from" type="text", placeholder="example@gmail.com")
			label Subject
			input(name="subject" type="text", placeholder="Subject")
			label Content
			input(name="content" type="text" placeholder="Text..." rows="100", columns="100")
			label For verification, please insert your email's password. 
			input(name="password" type="password" placeholder="Email password") 
			button(type="submit") Submit


