doctype
html
	head
		title Homepage
		link(rel="stylesheet" href="main.css" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
	body
		div.allinfo
			div.header
				div.nav
					ul 
						li 
							a(href="/login") Login
						li 
							a(href="/register") Register
					form#searchengine(name="form"  method="post" action="/searchengine" autocomplete="off")
						input#searchbar(name="search" type="text" placeholder="Search..." tabindex="0")
			div.container
				div.containercontent 
					h1 Introducing all new Ucci
					a.btn.btn-1#button1(href='https://www.google.com')
						svg 
							rect(x='0', y='0', fill='none', width='100%', height='100%')
								span#span  Men

					a.btn.btn-1#button2(href='https://www.google.com')
						svg
							rect(x='0', y='0', fill='none', width='100%', height='100%') 
								span#span  Women
				

			div.footer
				h1 hello
				h3 hello
				h4 hello
				p hskjfhaksdfjklasdjfklasdjfkl;asdjflaksdjfk
				p afkjskldfjaskdfjalksdjfdjlskdf
				p jaskldfjas;lkdfjsd

	script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
	script.
		$(document).ready(() => {
			$('#button1').mouseover(() => {
			$('#button1').css("background-color", "#D3D3D3")
			});

			$('#button2').mouseover(() => {
			$('#button2').css("background-color", "#D3D3D3")
			});

			$('#button1').mouseout(() => {
			$('#button1').css("background-color", "white")
			});

			$('#button2').mouseout(() => {
			$('#button2').css("background-color", "white")
			});

			$('#searchbar').click(() => {
			$('#searchbar').css("font-size", "40px")
			});

			$('#searchbar').click(() => {
			$('#searchbar').css("margin-top", "100px")
			});
		});
