doctype
html
	head
		title Login 
		link(rel="stylesheet" href="main.css" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
	body#loginbody
		img#fashionlogin(src="/images/loginfashion.jpeg")
		div.header
			div.navlogin
				ul 
					li 
						a(href="/contact") Contact
					li 
						a(href="/allclothes") Go Shopping
					li 
						a(href="/") Home
		h1#loginheader Join the Ucci Community 
		div#logreg
			div#goregister
				h3 Not a user yet? 
					a(href="/register") Register
						span here
			div#login
				form(name="form" method="post" action="/bloglogin" id="form") 
					h2#titlelogin 	Login
					br
					br
					label#emaillogin Email:
					input#username(type="text" name="email" placeholder="email@gmail")
					br
					br
					br
					label Password:
					input#password(type="password" name="password" placeholder="Password")
					br
					br
					br
					button#submitbutton(type="submit") Submit 

			
		script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js")
		script.
			$(document).ready(() => {
				$('#submitbutton').hover(() => {
				$('#submitbutton').css("background-color", "#262626")
			});

				$('#submitbutton').mouseleave(() => {
				$('#submitbutton').css("background-color", "black")
			})

			});
