doctype
html 
	head
		title Profile 
		link(rel="stylesheet" href="../main.css" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
	body
		div.header
			div.nav1
				ul 
					li#top Ucci
					li 
						a(href="/") Home
					li 
						a(href="/contact") Contact
					li 
						a(href="/allclothes") Go Shopping
					br
					li
						form#searchengine(name="form"  method="post" action="/searchengine" autocomplete="off")
							input#searchbar1(name="search" type="text" placeholder="Search..." tabindex="0")
		div#profilecontent
			div#sidebar
				br
				br
				br
				br
				h5 username:
					h6 U
				h5 Email: 
					//- h6 #{user.email}
			div#mainbar
				h2 Welcome, Username, to your Ucci Profile

			


