
doctype
html 
	head
		title Profile 
		link(rel="stylesheet" href="../main.css" type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		div.header
			div.nav1
				ul 
					li#top
						a(href="/") Ucci
					li
						a(href="/logout") Logout
					li 
						a(href="/contact") Contact
					li 
						a(href="/collection") Go Shopping
					br
					li
						form#profsearchengine(name="form"  method="post" action="/profilesearchengine" autocomplete="off")
							input#searchbar1(name="profilesearchengine" type="text" placeholder="Search..." tabindex="0")
		div#profilecontent
			div#sidebar
				br
				br
				br
				br
				h5 Name:
				h6 #{user.firstname} #{user.lastname}
				h5 Email: 
				h6 #{user.email}
			div#mainbar
				h3 Welcome, Username, to your Ucci Profile
				h5 Go search out website for anything you might like! 
				//- h4 Wishlist 
				//- 	// - var location = wishlist.clotheId
					//- img(src=`${}` style="height:400px; width:400px")}
		hr#hrprofile
		div.footerprofile
			ul
				li
					a(href="https://www.facebook.com") Facebook
				li
					a(href="https://www.instagram.com") Instagram
				li
					a(href="https://www.twitter.com") Twitter
				li
					a(href="https://www.pinterest.com") Pinterest 

			p#two  © 2017 Ucci By Ucci. - All rights reserved. Ucci Fashion World. - IT VAT nr 087366373836. SIAE LICENCE # 3345/J/1995 and 1034/J/1995

		