html
  head
  body
    a(href='/logout') log out
    a(href='/profile') go to profile
    
    h2 Search for clothes
    select
      option(value='ASDA ') VoSADvo
      option(value='sSDb') SaASD
      option(value='mSDSD') MeASD
      option(value='ASDSA') SADAS
