html
  head
  body
    a(href='/logout') log out
    a(href='/profile') go to profile
    
    h2 Search for clothes
    
    form#searchengine(name="form"  method="post" action="/search" autocomplete="off")
      input#searchbar(name="search" type="text" placeholder="Search..." tabindex="0")  
      
    form(name="submitForm" method="POST" action="/search")
      input(type="hidden" name="param1")
      a(href="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg")
        
          
