html
  head
  body
    if clothestype
      p #{clothestype.name}
      p #{clothestype.price}
      p #{clothestype.color}
      - var location = clothestype.url
      img(src=`${location}` style="height:100px; width:300px")
    else 
      p no match found!
      form#searchengine(name="form"  method="post" action="/search" autocomplete="off")
        input#searchbar(name="search" type="text" placeholder="Search..." tabindex="0")
